@media screen and (min-width: 768px) {
  .audiophile-header {
    padding: 32px 40px;
  }

  .audiophile-header-container {
    grid-template-columns: max-content max-content 1fr;
    gap: 42px;
  }

  .cart-icon {
    display: flex;
    justify-content: end;
  }

  .container-img-banner {
    min-height: 100dvh;
  }

  .image-banner-mobile {
    display: none;
  }

  .image-banner-tablet {
    display: block;
    width: 100%;
  }

  .box-text {
    top: 18px;
    gap: 24px;
  }

  .brand-banner {
    font-size: 56px;
    max-width: 396px;
    letter-spacing: 2px;
    line-height: 58px;
  }

  .p-banner {
    max-width: 349px;
  }

  .categories-section-container {
    padding: 48px 40px;
  }

  .categories-section {
    flex-direction: row;
    align-items: flex-start;
  }

  .box-products {
    padding: 48px 40px;
  }

  .pattern-circle {
    position: absolute;
    width: 944px;
    height: 944px;
    top: -310px;
  }

  .paragraph-zx9 {
    font-weight: 200;
    color: white;
    font-size: 15px;
    line-height: 25px;
    width: 347px;
  }

  .product-three {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .product-yx1 {
    display: none;
  }

  .product-yx1-tablet {
    display: block;
    width: 50%;
    height: 320px;
    border: none;
    border-radius: 8px;
    object-fit: cover;
  }

  .text-yx1 {
    width: 50%;
    height: 320px;
  }

  .product-zx7-tablet {
    display: block;
    width: 100%;
    height: 320px;
    position: absolute;
    border: none;
    border-radius: 8px;
    object-fit: cover;
  }

  .box-best-gear {
    padding: 48px 40px;
  }

  .best-gear {
    gap: 63px;
    text-align: center;
  }

  .image-best-gear {
    display: none;
  }

  .image-best-gear-tablet {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .title-bg {
    max-width: 573px;
    font-size: 40px;
    letter-spacing: 1.43px;
  }

  .paragraph-bg {
    max-width: 573px;
    font-size: 15px;
    line-height: 25px;
    color: #8d8d8d;
  }

  .footer-container {
    padding: 48px 40px;
  }

  .logo-nav {
    align-items: start;
  }

  .nav-footer {
    flex-direction: row;
    gap: 34px;
  }

  .footer-p {
    text-align: start;
    justify-content: start;
    max-width: 670px;
  }

  .social-media-2 {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-line {
    justify-self: initial;
    left: 40px;
  }

  .product-detail-title-group {
    gap: 16px;
  }

  .product-detail {
    padding: 48px 40px;
  }

  .product-detail-container {
    gap: 52px;
  }

  .product-detail-content {
    gap: 32px;
  }

  .product-detail-title {
    font-size: 40px;
    letter-spacing: 1.43px;
    line-height: 44px;
  }

  .product-detail-description {
    max-width: 572px;
  }

  .collage {
    flex-direction: row;
  }

  .collage-container {
    padding: 48px 40px;
  }

  .product-main {
    padding-top: 89px;
  }

  .product-detail-page .product-detail-container {
    flex-direction: row;
  }

  .product-detail-page .product-detail-image-container {
    height: 480px;
  }

  .product-detail-page .product-detail-title {
    font-size: 28px;
    line-height: 32px;
  }

  .product-feature {
    gap: 120px;
    padding: 60px 40px 120px 40px;
  }

  .product-feature-container-row {
    display: flex;
    flex-direction: row;
  }

  .product-feature-title {
    width: 55%;
    font-size: 32px;
  }

  .product-feature-description {
    width: 100%;
  }

  .product-suggestions-you-may-also-like {
    font-size: 32px;
    letter-spacing: 1.14px;
  }

  .product-suggestions-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .product-suggestions-container {
    display: flex;
    flex-direction: row;
    gap: 11px;
    padding: 48px 40px;
  }

  .product-suggestions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 0px;
  }

  .product-suggestions-image-container {
    width: 100%;
    height: 318px;
    border: none;
    border-radius: 8px;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-suggestions-image {
    padding-top: 15px;
    padding-bottom: 0px;
    width: 223px;
  }

  .cb-payment {
    flex-direction: row;
  }

  .cb-pay-way-container {
    flex-direction: row;
    gap: 16px;
  }

  .checkout-box {
    padding: 30px 28px;
  }

  .summary-box {
    padding: 32px;
  }

  .zip-city-information {
    flex-direction: row;
    gap: 16px;
  }

  .name-email-information {
    flex-direction: row;
    gap: 16px;
  }

  .cb-phone-number-information {
    width: calc(50% - 8px);
  }

  .cb-country-information {
    width: calc(50% - 8px);
  }

  .summary-box {
    padding: 32px;
  }

  .checkout-page-layout {
    padding: 48px 39px 116px 39px;
  }

  .modal-succesfull-order-title {
    font-size: 32px;
    letter-spacing: 1.14px;
    line-height: 36px;
  }

  .modal-succesfull-order-description {
    font-size: 15px;
    line-height: 25px;
  }

  .modal-succesfull-order-confirmation-order {
    flex-direction: row;
  }

  .modal-succesfull-order-content {
    border-radius: 8px 0px 0px 8px;
  }

  .modal-succesfull-order-price-container {
    border-radius: 0px 8px 8px 0px;
    padding: 41px 73px 42px 24px;
  }

  .modal-succesfull-order-button {
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    background-color: #d87d4a;
    width: 100%;
    height: 48px;
  }

  .modal-img-1 {
    width: 50px;
    height: 50px;
  }

  .header-menu-open {
    top: 89px;
  }
}

@media screen and (min-width: 1280px) {
  .categories-section-container {
    padding: 48px 40px;
  }

  .categories-section {
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }

  .audiophile-header {
    padding: 32px 12%;
  }

  .audiophile-header-container {
    grid-template-columns: max-content max-content max-content;
  }

  .menu-icon {
    display: none;
  }

  .nav {
    display: flex;
  }

  .container-img-banner {
    display: flex;
    justify-content: right;
    height: 100dvh;
    overflow: hidden;
  }

  .box-text {
    text-align: left;
    align-items: start;
    left: 12%;
  }

  .image-banner-desktop {
    display: block;
  }

  .image-banner-mobile {
    display: none;
  }

  .image-banner-tablet {
    display: none;
  }

  .box-products {
    background-color: white;
    padding: 100px 12%;
  }

  .box-products-two {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .product-one {
    display: flex;
    flex-direction: row;
    background: linear-gradient(to bottom, #d87d4a, #d87d4a);
    gap: 40px;
    text-align: center;
    align-items: center;
    padding: 55px;
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
  }

  .product-zx9 {
    display: none;
  }

  .product-zx9-desktop {
    display: block;
    height: 493px;
    width: 410px;
    position: absolute;
    top: 120px;
    left: 118px;
  }

  .product-one-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 95px;
    align-items: start;
    gap: 24px;
    width: 349px;
    height: 303px;
  }

  .pattern-circle {
    position: absolute;
    width: 944px;
    height: 944px;
    top: -45px;
    left: -175px;
  }

  .title-zx9 {
    max-width: 0px;
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 2px;
  }

  .paragraph-zx9 {
    text-align: start;
    font-weight: 200px;
    color: white;
    font-size: 15px;
    line-height: 25px;
    width: 347px;
  }

  .product-zx7-desktop {
    display: block;
    width: 100%;
    height: 320px;
    position: absolute;
    border: none;
    border-radius: 8px;
    object-fit: cover;
  }

  .text-zx7 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
    left: 95px;
    bottom: 101px;
    top: 101px;
  }

  .text-yx1 {
    padding: 0px 0px 0px 95px;
  }

  .box-best-gear {
    padding: 100px 12%;
  }

  .best-gear {
    flex-direction: row-reverse;
    align-items: center;
    text-align: center;
    gap: 30px;
    max-width: 100%;
  }

  .box-image-bg {
    height: 100%;
  }

  .image-best-gear {
    display: none;
  }

  .image-best-gear-tablet {
    display: none;
  }

  .image-best-gear-desktop {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .text-best-gear {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    width: 100%;
  }

  .title-bg {
    max-width: 445px;
    font-size: 40px;
    letter-spacing: 1.43px;
    line-height: 44px;
  }

  .paragraph-bg {
    max-width: 445px;
  }

  .categories-section-container {
    padding: 100px 12%;
  }

  .categories-section {
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }

  .category {
    padding: 116px 108px 30px 108px;
  }

  .product-image {
    width: 175px;
    height: 200px;
  }

  .footer-container {
    padding: 100px 12%;
    margin: 0 auto;
  }

  .logo-nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-footer {
    gap: 34px;
  }

  .social {
    display: none;
  }

  .social-p {
    display: flex;
  }

  .social-media-1 {
    display: flex;
    justify-content: space-between;
  }

  .footer-p {
    max-width: 530px;
    text-align: left;
    justify-content: start;
  }

  .social-p {
    align-items: end;
  }

  .footer-line {
    justify-self: initial;
    left: 12%;
  }

  .product-detail-container {
    display: flex;
    flex-direction: row;
    gap: 125px;
    text-align: start;
  }

  .product-detail-image-container {
    height: 560px;
  }

  .product-detail-content {
    display: flex;
    align-items: start;
    gap: 32px;
  }

  .product-detail-title {
    font-size: 40px;
    letter-spacing: 1.43px;
    line-height: 44px;
  }

  .product-detail-description {
    width: 445px;
  }

  .product-detail {
    padding: 100px 12%;
  }

  .product-detail-reverse .product-detail-container {
    flex-direction: row-reverse;
  }

  .collage-img-1,
  .collage-img-2 {
    height: 280px;
  }

  .collage-container {
    padding: 100px 12%;
  }

  .collage {
    gap: 30px;
  }

  .collage-container-left {
    gap: 32px;
  }

  .collage-img-3 {
    height: 592px;
  }

  .product-detail-page .product-detail-image-container {
    height: 560px;
  }

  .product-detail-page .product-detail-title {
    font-size: 40px;
    line-height: 44px;
  }

  .product-feature {
    flex-direction: row;
    justify-content: center;
    gap: 125px;
    padding: 100px 12%;
  }

  .product-feature-container-row,
  .product-feature-container-list {
    flex-direction: column;
    gap: 32px;
    width: 100%;
  }

  .product-feature-container {
    width: 100%;
  }

  .product-feature-title {
    font-size: 32px;
    font-weight: bold;
    line-height: 36px;
    letter-spacing: 1.14px;
  }

  .product-feature-description {
    font-size: 15px;
    line-height: 25px;
    color: #7d7d7d;
    width: 635px;
  }

  .product-suggestions-container {
    padding: 100px 12%;
    gap: 30px;
  }

  .product-suggestions-image-container {
    width: 100%;
    height: 318px;
    border: none;
    border-radius: 8px;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-suggestions-image {
    padding-top: 15px;
    padding-bottom: 10px;
    width: 350px;
    height: 80%;
  }

  .checkout-box {
    padding: 54px 48px 48px 48px;
  }

  .checkout-container {
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
  }

  .checkout-page-layout {
    padding: 79px 12% 141px 12%;
    display: flex;
    justify-content: center;
  }

  .checkout-wrapper {
    gap: 38px;
  }

  .checkout-box {
    width: 100%;
  }

  .summary-box {
    width: 60%;
  }
}
