@media screen and (min-width: 768px) {
  .container-img-banner {
    height: 729px;
  }

  .image-banner-mobile {
    display: none;
  }

  .image-banner-tablet {
    display: block;
    width: 100%;
  }

  .box-text {
    top: 18px;
    gap: 24px;
  }

  .brand-banner {
    font-size: 56px;
    max-width: 396px;
    letter-spacing: 2px;
    line-height: 58px;
  }

  .p-banner {
    max-width: 349px;
  }

  .box-products {
    padding: 48px 40px;
  }

  .pattern-circle {
    position: absolute;
    width: 944px;
    height: 944px;
    top: -310px;
  }

  .paragraph-zx9 {
    font-weight: 200;
    color: white;
    font-size: 15px;
    line-height: 25px;
    width: 347px;
  }

  .product-three {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .product-yx1 {
    display: none;
  }

  .product-yx1-tablet {
    display: block;
    width: 50%;
    height: 320px;
    border: none;
    border-radius: 8px;
    object-fit: cover;
  }

  .text-yx1 {
    width: 50%;
    height: 320px;
  }

  .product-zx7-tablet {
    display: block;
    width: 100%;
    height: 320px;
    position: absolute;
    border: none;
    border-radius: 8px;
    object-fit: cover;
  }

  .box-best-gear {
    padding: 48px 40px;
  }

  .best-gear {
    gap: 63px;
  }

  .image-best-gear {
    display: none;
  }

  .image-best-gear-tablet {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .title-bg {
    max-width: 573px;
    font-size: 40px;
    letter-spacing: 1.43px;
  }

  .paragraph-bg {
    max-width: 573px;
    font-size: 15px;
    line-height: 25px;
    color: #8d8d8d;
  }
}

@media screen and (min-width: 1280px) {
  .container-img-banner {
    display: flex;
    justify-content: right;
    height: 100dvh;
    overflow: hidden;
  }

  .box-text {
    text-align: left;
    align-items: start;
    left: 12%;
  }

  .image-banner-desktop {
    display: block;
  }

  .image-banner-mobile {
    display: none;
  }

  .image-banner-tablet {
    display: none;
  }

  .box-products {
    background-color: white;
    padding: 100px 12%;
  }

  .box-products-two {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .product-one {
    display: flex;
    flex-direction: row;
    background: linear-gradient(to bottom, #d87d4a, #d87d4a);
    gap: 40px;
    text-align: center;
    align-items: center;
    padding: 55px;
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
  }

  .product-zx9 {
    display: none;
  }

  .product-zx9-desktop {
    display: block;
    height: 493px;
    width: 410px;
    position: absolute;
    top: 120px;
    left: 118px;
  }

  .product-one-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 95px;
    align-items: start;
    gap: 24px;
    width: 349px;
    height: 303px;
  }

  .pattern-circle {
    position: absolute;
    width: 944px;
    height: 944px;
    top: -45px;
    left: -175px;
  }

  .title-zx9 {
    max-width: 0px;
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 2px;
  }

  .paragraph-zx9 {
    text-align: start;
    font-weight: 200px;
    color: white;
    font-size: 15px;
    line-height: 25px;
    width: 347px;
  }

  .product-zx7-desktop {
    display: block;
    width: 100%;
    height: 320px;
    position: absolute;
    border: none;
    border-radius: 8px;
    object-fit: cover;
  }

  .text-zx7 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
    left: 95px;
    bottom: 101px;
    top: 101px;
  }

  .text-yx1 {
    padding: 0px 0px 0px 95px;
  }

  .box-best-gear {
    padding: 100px 12%;
  }

  .best-gear {
    flex-direction: row-reverse;
    align-items: center;
    text-align: center;
    gap: 30px;
    max-width: 100%;
  }

  .box-image-bg {
    height: 100%;
  }

  .image-best-gear {
    display: none;
  }

  .image-best-gear-tablet {
    display: none;
  }

  .image-best-gear-desktop {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .text-best-gear {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    width: 100%;
  }

  .title-bg {
    max-width: 445px;
    font-size: 40px;
    letter-spacing: 1.43px;
    line-height: 44px;
  }

  .paragraph-bg {
    max-width: 445px;
  }
}
