* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MANROPE";
}

html,
body {
  background-color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header-menu {
  background-color: white;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: -100%;
  transition: 0.5s ease-in-out;
  border: none;
}

.header-menu-open {
  top: 73px;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100dvh;
  z-index: 1;
  display: none;
}

.backdrop-open {
  display: block;
}

.audiophile-header {
  padding: 24px;
  z-index: 1000;
  width: 100%;
  position: fixed;
  background-color: #191919;
}

.audiophile-header-container {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.menu-icon {
  color: white;
  background: none;
  border: none;
  display: block;
  font-size: 18px;
  font-weight: 700;
}

.logo {
  display: flex;
}

.nav {
  display: none;
  gap: 34px;
}

.nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 2px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.nav a:hover {
  color: #d87d4a;
}

.cart-icon {
  background: none;
  border: none;
  color: #ffffff;
  height: 20px;
}

.container-img-banner {
  background-color: #121212;
  min-height: 100dvh;
  position: relative;
}

.image-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(75%);
}

.image-banner-tablet {
  display: none;
}

.image-banner-desktop {
  display: none;
}

.box-text {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 36px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
  z-index: 2;
}

.span-banner {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 10px;
  color: #8c8c8c;
}

.brand-banner {
  font-weight: bold;
  font-size: 36px;
  color: #ffffff;
  letter-spacing: 1.29px;
  line-height: 40px;
  max-width: 328px;
}

.p-banner {
  font-size: 15px;
  line-height: 25px;
  color: #9b9b9b;
  max-width: 328px;
}

.button-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  background-color: #d87d4a;
  width: 160px;
  height: 48px;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.button-banner:active {
  background-color: #fbaf85;
}

.button-zx9 {
  position: relative;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: black;
  width: 160px;
  height: 48px;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.button-zx7 {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: transparent;
  width: 160px;
  height: 48px;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  color: black;
  cursor: pointer;
}

.box-products {
  background-color: white;
  padding: 60px 24px;
}

.box-products-two {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.product-one {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #d87d4a, #d87d4a);
  gap: 40px;
  text-align: center;
  align-items: center;
  padding: 55px;
  border: none;
  border-radius: 8px;
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.product-one-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.pattern-circle {
  position: absolute;
  width: 558px;
  height: 558px;
  top: -130px;
}

.product-zx9 {
  height: 192px;
  width: 152px;
  object-fit: cover;
}

.product-zx9-desktop {
  display: none;
}

.title-zx9 {
  text-transform: uppercase;
  color: white;
  line-height: 80px;
  max-width: 200px;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 1.29px;
}

.paragraph-zx9 {
  font-weight: 200;
  color: white;
  font-size: 15px;
  line-height: 25px;
  width: 280px;
}

.product-two {
  width: 100%;
  height: 320px;
  position: relative;
}

.product-zx7 {
  width: 100%;
  height: 320px;
  position: absolute;
  border: none;
  border-radius: 8px;
  object-fit: cover;
}

.product-zx7-tablet {
  display: none;
}

.product-zx7-desktop {
  display: none;
}

.text-zx7 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  left: 24px;
  bottom: 101px;
  top: 101px;
}

.title-zx7 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 2px;
  height: 38px;
  width: 204px;
}

.product-three {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.product-yx1 {
  width: 100%;
  height: 200px;
  border: none;
  border-radius: 8px;
  object-fit: cover;
}

.product-yx1-tablet {
  display: none;
}

.text-yx1 {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 8px;
  background-color: #f1f1f1;
  gap: 32px;
  width: 100%;
  height: 200px;
  justify-content: center;
  padding: 0px 0px 0px 24px;
}

.title-yx1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 2px;
}

.box-best-gear {
  padding: 60px 24px;
}

.best-gear {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.categories-section-container {
  padding: 60px 24px;
  width: 100%;
}

.categories-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.category {
  width: 100%;
  background-color: #f1f1f1;
  margin-top: 55px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 40px;
  max-width: 100%;
  position: relative;
  padding: 88px 24px 24px 24px;
}

.product-image {
  position: absolute;
  top: -55px;
  width: 120px;
  height: 140px;
  object-fit: contain;
}

.redirection {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.box-image-bg {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
}

.image-best-gear {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-best-gear-tablet {
  display: none;
}

.image-best-gear-desktop {
  display: none;
}

.text-best-gear {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 32px;
  max-width: 100%;
}

.title-bg {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 1px;
}

.span-best-gear {
  color: #d87d4a;
}

.paragraph-bg {
  width: 100%;
  font-size: 15px;
  line-height: 25px;
  color: #8d8d8d;
}

.product-image {
  position: absolute;
  top: -55px;
  width: 120px;
  height: 120px;
  object-fit: contain;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.5));
}

.category h3 {
  letter-spacing: 1.07px;
  margin-top: 16px;
  font-size: 15px;
  font-weight: 700;
}

.redirection {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop-link {
  color: #7d7d7d;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.shop-link:hover {
  color: #d87d4a;
}

.arrow-icon {
  width: 8px;
  height: 12px;
}

.footer-container {
  position: relative;
  background: #101010;
  padding: 60px 24px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.footer-line {
  display: flex;
  justify-self: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 101px;
  height: 4px;
  background-color: #d87d4a;
}

.logo-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.logo-footer {
  font-size: 22px;
  color: #ffffff;
}

.nav-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.nav-footer a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 2px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.nav-footer a:hover {
  color: #d87d4a;
}

.footer-p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.social-p {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.social-media-2 {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.social svg,
.social-p svg {
  cursor: pointer;
}

.social path,
.social-p path {
  transition: 0.2s ease;
}

.social svg:hover path,
.social-p svg:hover path {
  fill: #d87d4a;
}

.banner-product {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 100px 12%;
  text-align: center;
}

.hs-banner-product {
  font-size: 40px;
  letter-spacing: 1.43px;
}

.collage-container {
  display: flex;
  justify-content: center;
  padding: 60px 24px;
  width: 100%;
}

.collage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.collage-container-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.img-gallery {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collage-img-1,
.collage-img-2 {
  height: 174px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.collage-img-3 {
  height: 368px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.product-detail {
  padding: 60px 24px;
}

.product-detail-page {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px 24px 60px;
}

.product-detail-page .product-detail-content {
  text-align: left;
  align-items: start;
}

.product-detail-page .product-detail-see-product {
  display: none;
}

.product-detail-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.product-detail-ancle {
  text-decoration: none;
  color: #9b9b9b;
  font-size: 15px;
  line-height: 25px;
}

.product-detail-price {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.29px;
}

.product-detail-counter-container {
  display: flex;
  gap: 16px;
}

.product-detail-counter {
  background-color: #f1f1f1;
  height: 48px;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px;
}

.product-detail-subtract,
.product-detail-add {
  border: none;
  font-size: 13px;
  width: 16px;
  height: 18px;
  font-weight: bold;
  color: #b5b5b5;
}

.product-detail-count {
  font-size: 13px;
  font-weight: bold;
}

.product-detail-image-container {
  width: 100%;
  height: 352px;
  border: none;
  border-radius: 8px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.product-detail-suggestions {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.product-suggestions-container {
  display: flex;
  flex-direction: column;
}

.product-suggestions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 30px 24px;
}

.product-suggestions-you-may-also-like {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.86px;
}

.product-suggestions-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product-suggestions-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
}

.product-suggestions-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.product-suggestions-title {
  font-size: 24px;
  letter-spacing: 1.71px;
  font-weight: bold;
  text-transform: uppercase;
}

.product-suggestions-image-container {
  width: 100%;
  height: 120px;
  border: none;
  border-radius: 8px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-suggestions-image {
  padding-top: 20px;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.product-detail-image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.product-detail-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.product-detail-title-group {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.product-detail-new-product {
  font-size: 14px;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #fbaf85;
}

.product-detail-title {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.product-detail-description {
  font-size: 15px;
  line-height: 25px;
  color: #9b9b9b;
}

.product-main {
  padding-top: 73px;
  outline: none;
  background-color: #f1f1f1;
}

.product-feature {
  display: flex;
  flex-direction: column;
  gap: 88px;
  padding: 24px;
}

.product-feature-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.product-feature-container-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.product-feature-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  letter-spacing: 0.86px;
  text-transform: uppercase;
}

.product-feature-description {
  font-size: 15px;
  line-height: 25px;
  color: #7d7d7d;
}

.product-feature-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-feature-elements {
  display: flex;
  gap: 24px;
  align-items: center;
  color: #7d7d7d;
  font-size: 15px;
  line-height: 25px;
}

.product-feature-amount {
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
  color: #d87d4a;
}

.cart-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.cart {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.headphone-1 {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.name-product-quantity {
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* gap: 57px; */
  width: 100%;
}

.cart-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-width: 120px;
}

.cart-name {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.cart-price {
  color: rgba(0, 0, 0, 0.5);
  font-size: 19px;
  font-weight: bold;
}

.quantity-selector {
  display: flex;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.2);
  padding: 5px 10px;
  gap: 20px;
}

.qty-btn {
  background: none;
  border: none;
  font-size: 20px;
  color: #999;
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-align: center;
}

.qty-number {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.go-back-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
}

.go-back-link:active {
  color: #d87d4a;
}

.checkout-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.checkout-box {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.cb-h1 {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1px;
}

.cb-h2 {
  font-size: 13px;
  font-weight: bold;
  color: #d87d4a;
  letter-spacing: 0.93px;
}

.cb-section {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 100%;
}

.cb-information-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cb-information {
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 100%;
}

.error-format {
  display: flex;
  justify-content: space-between;
}

.cb-input {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #cfcfcf;
  padding: 18px 24px;
  outline: none;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
}

input:focus {
  border-color: #d87d4a;
  caret-color: #d87d4a;
}

.cb-payment-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.cb-payment {
  display: flex;
  flex-direction: column;
  gap: 17px;
  justify-content: space-between;
}

.cb-payment-input {
  appearance: none;
  -webkit-appearance: none;
  height: 20px;
  position: relative;
  background-color: transparent;
  margin: 0;
  cursor: pointer;
  display: inline-block;
}

.cb-payment-input::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
}

.cb-payment-input:checked::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 10px;
  height: 10px;
  background-color: #d87d4a;
  border-radius: 50%;
}

.option {
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 18px 24px;
  height: 50px;
  cursor: pointer;
  transition: border-color 0.2s ease;
}

.option:has(.cb-payment-input:checked) {
  border-color: #d87d4a;
}

.cb-label {
  font-size: 14px;
  font-weight: bold;
}

.cb-money {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.option {
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  padding: 18px 24px;
  height: 50px;
  cursor: pointer;
}

.summary-box {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.summary-h2 {
  font-size: 18px;
}

.qty-number-checkout {
  font-size: 18px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

/* .cart-summary-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
} */

.total-price-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.total-price {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.value-info {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.value {
  font-size: 18px;
  font-weight: bold;
}

.value-2 {
  font-size: 18px;
  font-weight: bold;
  color: #d87d4a;
}

.cart-summary-quantity {
  display: flex;
  justify-content: space-between;
  /* gap: 57px; */
  width: 100%;
}

.remove-cart-button {
  border: none;
  background: none;
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
}

.summary-remove {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error-message {
  color: red;
  font-size: 14px;
  display: none;
}

.cb-input.error {
  border: 2px solid red;
  color: black;
  font-weight: bold;
}

.cb-label.error {
  color: red;
}

.cash-delivery {
  display: flex;
  gap: 32px;
  align-items: center;
}

.cash-delivery-icon {
  height: 100%;
  object-fit: cover;
}

.cash-delivery-icon-container {
  height: 48px;
}

.cash-delivery-span {
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
}

.hidden {
  display: none;
}

.cb-pay-way-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.payment-options-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.zip-city-information {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.name-email-information {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.cb-phone-number-information {
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 100%;
}

.cb-country-information {
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 100%;
}

.checkout-page-layout {
  padding: 16px 24px 97px 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.checkout-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cart-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.modal-succesfull-order-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
  background-color: #f1f1f1;
  border-radius: 8px 8px 0px 0px;
  padding: 24px;
}

.modal-succesfull-order-line {
  background-color: #dedede;
  width: 100%;
  height: 1px;
}

.continue-pay-button {
  background-color: #d87d4a;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
}

.modal-succesfull-order {
  justify-content: center;
  align-items: center;
  z-index: 2;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 25px;
}

.modal-succesfull-order-container {
  border: none;
  background-color: white;
  border-radius: 8px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  transition: 0.5s ease-in-out;
}

.modal-succesfull-order-container-open {
  display: flex;
}

.modal-succesfull-order-container-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-succesfull-order-image {
  width: 64px;
}

.modal-succesfull-order-title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.86px;
  line-height: 28px;
}

.modal-succesfull-order-description {
  font-size: 15px;
  line-height: 25px;
  color: #8d8d8d;
}

.modal-succesfull-order-confirmation-order {
  display: flex;
  flex-direction: column;
}

.modal-succesfull-order-contain {
  border: none;
  background-color: #f1f1f1;
  border-radius: 8px 8px 0px 0px;
  display: flex;
  align-items: center;
  padding: 24px 24px 12px 35px;
}

.modal-succesfull-order-image-headphones {
  width: 28px;
  max-height: 32px;
}

.modal-succesfull-order-list {
  display: flex;
  flex-direction: column;
  padding: 0px 59px 0px 27px;
}

.modal-succesfull-order-list-select {
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
}

.modal-succesfull-order-list-price {
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  color: #999;
}

.modal-succesfull-order-cant {
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
  color: #999;
}

.modal-succesfull-order-list-other-container {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}

.modal-succesfull-order-list-other {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: -0.21px;
  color: #999;
}

.modal-succesfull-order-price-container {
  border: none;
  background-color: black;
  border-radius: 0px 0px 8px 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  padding: 24px;
}

.modal-succesfull-order-total {
  font-size: 15px;
  line-height: 25px;
  color: #5f5f5f;
}

.modal-succesfull-order-price-total {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.modal-succesfull-order-button {
  text-decoration: none;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 1px;
  background-color: #d87d4a;
  width: 100%;
  height: 48px;
}
