* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MANROPE";
}

html,
body {
  background-color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.audiophile-header {
  padding: 24px;
  z-index: 1000;
  width: 100%;
  position: fixed;
  background-color: #191919;
}

.audiophile-header-container {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.menu-icon {
  color: white;
  background: none;
  border: none;
  display: block;
  font-size: 18px;
  font-weight: 700;
}

.logo {
  font-size: 22px;
  color: #ffffff;
  display: block;
}

.nav {
  display: none;
  gap: 34px;
}

.nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 2px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.nav a:hover {
  color: #d87d4a;
}

.cart-icon {
  background: none;
  border: none;
  color: #ffffff;
  height: 20px;
}

.container-img-banner {
  background-color: #121212;
  min-height: 100dvh;
  position: relative;
}

.image-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(75%);
}

.image-banner-tablet {
  display: none;
}

.image-banner-desktop {
  display: none;
}

.box-text {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 36px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
  z-index: 2;
}

.span-banner {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 10px;
  color: #8c8c8c;
}

.brand-banner {
  font-weight: bold;
  font-size: 36px;
  color: #ffffff;
  letter-spacing: 1.29px;
  line-height: 40px;
  max-width: 328px;
}

.p-banner {
  font-size: 15px;
  line-height: 25px;
  color: #9b9b9b;
  max-width: 328px;
}

.button-banner {
  border: none;
  background-color: #d87d4a;
  width: 160px;
  height: 48px;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.button-banner:active {
  background-color: #fbaf85;
}

.button-zx9 {
  border: none;
  background-color: black;
  width: 160px;
  height: 48px;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.button-zx7 {
  border: 1px solid black;
  background-color: transparent;
  width: 160px;
  height: 48px;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  color: black;
  cursor: pointer;
}

.box-products {
  background-color: white;
  padding: 60px 24px;
}

.box-products-two {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.product-one {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #d87d4a, #d87d4a);
  gap: 40px;
  text-align: center;
  align-items: center;
  padding: 55px;
  border: none;
  border-radius: 8px;
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.product-one-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.pattern-circle {
  position: absolute;
  width: 558px;
  height: 558px;
  top: -130px;
}

.product-zx9 {
  height: 192px;
  width: 152px;
  object-fit: cover;
}

.product-zx9-desktop {
  display: none;
}

.title-zx9 {
  text-transform: uppercase;
  color: white;
  line-height: 80px;
  max-width: 200px;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 1.29px;
}

.paragraph-zx9 {
  font-weight: 200;
  color: white;
  font-size: 15px;
  line-height: 25px;
  width: 280px;
}

.product-two {
  width: 100%;
  height: 320px;
  position: relative;
}

.product-zx7 {
  width: 100%;
  height: 320px;
  position: absolute;
  border: none;
  border-radius: 8px;
  object-fit: cover;
}

.product-zx7-tablet {
  display: none;
}

.product-zx7-desktop {
  display: none;
}

.text-zx7 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  left: 24px;
  bottom: 101px;
  top: 101px;
}

.title-zx7 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 2px;
  height: 38px;
  width: 204px;
}

.product-three {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.product-yx1 {
  width: 100%;
  height: 200px;
  border: none;
  border-radius: 8px;
  object-fit: cover;
}

.product-yx1-tablet {
  display: none;
}

.text-yx1 {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 8px;
  background-color: #f1f1f1;
  gap: 32px;
  width: 100%;
  height: 200px;
  justify-content: center;
  padding: 0px 0px 0px 24px;
}

.title-yx1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 2px;
}

.box-best-gear {
  padding: 60px 24px;
}

.best-gear {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.categories-section-container {
  padding: 60px 24px;
  width: 100%;
}

.categories-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.category {
  width: 100%;
  background-color: #f1f1f1;
  margin-top: 55px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 40px;
  max-width: 100%;
  position: relative;
  padding: 88px 24px 24px 24px;
}

.product-image {
  position: absolute;
  top: -55px;
  width: 120px;
  height: 140px;
  object-fit: contain;
}

.redirection {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.box-image-bg {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
}

.image-best-gear {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-best-gear-tablet {
  display: none;
}

.image-best-gear-desktop {
  display: none;
}

.text-best-gear {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  max-width: 100%;
}

.title-bg {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 1px;
}

.span-best-gear {
  color: #d87d4a;
}

.paragraph-bg {
  width: 100%;
  font-size: 15px;
  line-height: 25px;
  color: #8d8d8d;
}

.category h3 {
  letter-spacing: 1.07px;
  font-size: 15px;
  font-weight: 700;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop-link {
  color: #7d7d7d;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.shop-link:hover {
  color: #d87d4a;
}

.arrow-icon {
  width: 8px;
  height: 12px;
}

.footer-container {
  position: relative;
  background: #101010;
  padding: 60px 24px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.footer-line {
  display: flex;
  justify-self: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 101px;
  height: 4px;
  background-color: #d87d4a;
}

.logo-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.logo-footer {
  font-size: 22px;
  color: #ffffff;
}

.nav-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.nav-footer a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 2px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.nav-footer a:hover {
  color: #d87d4a;
}

.footer-p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.social-p {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.social-media-2 {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.social img,
.social-p img {
  transition: filter 0.3s ease;
  cursor: pointer;
}

.social img:hover,
.social-p img:hover {
  filter: invert(55%) sepia(42%) saturate(538%) hue-rotate(339deg)
    brightness(94%) contrast(89%);
}
