* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MANROPE";
}

body {
  background-color: white;
}

.container-img-banner {
  background-color: #121212;
  height: 600px;
  position: relative;
}

.image-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(75%);
}

.image-banner-tablet {
  display: none;
}

.image-banner-desktop {
  display: none;
}

.box-text {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 36px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
  z-index: 2;
}

.span-banner {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 10px;
  color: #8c8c8c;
}

.brand-banner {
  font-weight: bold;
  font-size: 36px;
  color: #ffffff;
  letter-spacing: 1.29px;
  line-height: 40px;
  max-width: 328px;
}

.p-banner {
  font-size: 15px;
  line-height: 25px;
  color: #9b9b9b;
  max-width: 328px;
}

.button-banner {
  border: none;
  background-color: #d87d4a;
  width: 160px;
  height: 48px;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.button-banner:active {
  background-color: #fbaf85;
}

.button-zx9 {
  border: none;
  background-color: black;
  width: 160px;
  height: 48px;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.button-zx7 {
  border: 1px solid black;
  background-color: transparent;
  width: 160px;
  height: 48px;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  color: black;
  cursor: pointer;
}

.box-products {
  background-color: white;
  padding: 60px 24px;
}

.box-products-two {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.product-one {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #d87d4a, #d87d4a);
  gap: 40px;
  text-align: center;
  align-items: center;
  padding: 55px;
  border: none;
  border-radius: 8px;
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.product-one-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.pattern-circle {
  position: absolute;
  width: 558px;
  height: 558px;
  top: -130px;
}

.product-zx9 {
  height: 192px;
  width: 152px;
  object-fit: cover;
}

.product-zx9-desktop {
  display: none;
}

.title-zx9 {
  text-transform: uppercase;
  color: white;
  line-height: 80px;
  max-width: 200px;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 1.29px;
}

.paragraph-zx9 {
  font-weight: 200;
  color: white;
  font-size: 15px;
  line-height: 25px;
  width: 280px;
}

.product-two {
  width: 100%;
  height: 320px;
  position: relative;
}

.product-zx7 {
  width: 100%;
  height: 320px;
  position: absolute;
  border: none;
  border-radius: 8px;
  object-fit: cover;
}

.product-zx7-tablet {
  display: none;
}

.product-zx7-desktop {
  display: none;
}

.text-zx7 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  left: 24px;
  bottom: 101px;
  top: 101px;
}

.title-zx7 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 2px;
  height: 38px;
  width: 204px;
}

.product-three {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.product-yx1 {
  width: 100%;
  height: 200px;
  border: none;
  border-radius: 8px;
  object-fit: cover;
}

.product-yx1-tablet {
  display: none;
}

.text-yx1 {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 8px;
  background-color: #f1f1f1;
  gap: 32px;
  width: 100%;
  height: 200px;
  justify-content: center;
  padding: 0px 0px 0px 24px;
}

.title-yx1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 2px;
}

.box-best-gear {
  padding: 60px 24px;
}

.best-gear {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 40px;
  max-width: 100%;
}

.box-image-bg {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
}

.image-best-gear {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-best-gear-tablet {
  display: none;
}

.image-best-gear-desktop {
  display: none;
}

.text-best-gear {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  max-width: 100%;
}

.title-bg {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 1px;
}

.span-best-gear {
  color: #d87d4a;
}

.paragraph-bg {
  width: 100%;
  font-size: 15px;
  line-height: 25px;
  color: #8d8d8d;
}
